<div (click)="toggle()" class="switch" [ngClass]="{ 'checked': value, 'disabled': disabled }">
    <input type="checkbox" class="switch-input" [value]="value" [attr.checked]="value">
    <span class="switch-label" data-on="Accept" data-off="Decline"></span>
    <span class="switch-handle"></span>
</div>
