@import '../../../../styles/base-component-styles';

.switch {
  position: relative;
  width: 74px;
  height: 22px;
  background-color: transparent;
  overflow: visible;

  &:not(.disabled) {
    cursor: pointer;
  }
}

.switch-input {
  display: none;
}

.switch-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: $white-color;
  position: relative;
  display: block;
  height: inherit;
  background: $error-color;
  border-radius: 11px;
  transition: 0.15s ease-out;
}

.switch-label::before,
.switch-label::after {
  position: absolute;
  top: 5px;
  line-height: 1;
  transition: inherit;
}

.switch-label::before {
  content: attr(data-off);
  right: 6px;
  color: $white-color;
}

.switch-label::after {
  content: attr(data-on);
  left: 6px;
  color: $white-color;
  opacity: 0;
}

.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: $white-color;
  border-radius: 10px;
  transition: left 0.15s ease-out;
}

.checked .switch-label {
  background: $violet-color;
}

.checked .switch-label::before {
  opacity: 0;
}

.checked .switch-label::after {
  opacity: 1;
}

.checked .switch-handle {
  left: 53px;
}
