<ng-container *ngIf="shortTextPageData$ | async as pageData">
    <div class="custom-container">
        <div class="custom-container-title">Survey</div>
        <div class="question-container" [formGroup]="form">
            <div class="question-text">
                {{questionNumber$ | async}}. {{pageData.surveyPhraseQuestion}}
            </div>
            <div class="answer-container">
                <input
                    class="base-input border-bottom w100percent"
                    placeholder="Type your answer here..."
                    formControlName="answer"
                    type="text"
                >
            </div>
            <div class="navigation-btn">
                <app-navigation-buttons></app-navigation-buttons>
            </div>
        </div>
    </div>
</ng-container>

