@import '../../../../styles/base-component-styles';

.decline-container {
  display: flex;
  flex-direction: column;
  padding: 40px;

  .header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 28px;
      line-height: 40px;
    }

    .close-decline-modal {
      width: 44px;
      height: 44px;
      display: block;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $another-light-gray-color;
        width: 20px;
        height: 2px;
        top: 50%;
        left: 10px;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 36px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;


  .btn-decline,
  .btn-cancel {
    border: 2px solid $violet-color;
    border-radius: 50px;
    width: 50%;
    padding: 10px 60px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .btn-decline {
    color: $violet-color;
    background-color: $white-color;
  }

  .btn-cancel {
    color: $white-color;
    background-color: $violet-color;
  }
}


