<div class="decline-container">
    <div class="header">
        <div class="title">
            Decline order
        </div>
        <div class="close">
            <a href="javascript:void(0);"
               class="close-decline-modal"
               (click)="close(false)"
            ></a>
        </div>
    </div>
    <div class="image-container">
        <img src="assets/images/resupply-campaign-user-flow/decline.svg">
    </div>
    <div class="description">
        Are you sure that want to decline this order?
    </div>
    <div class="buttons">
        <button
            class="btn-decline"
            (click)="$event.preventDefault(); close(true)"
        >
            Decline
        </button>
        <button
            class="btn-cancel"
            (click)="$event.preventDefault(); close(false)"
        >
            Cancel
        </button>
    </div>
</div>
