@import '../../../../styles/variables';

.preview-text-1,
.preview-text-2,
.preview-text-3 {
  color: $white-color;
  width: 760px;
}

.preview-text-1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 72px;
  margin-bottom: 20px;
}

.preview-text-2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}

.preview-text-3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 115px;
}

.first-page {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('~src/assets/images/resupply-campaign-user-flow/default-bg.png');
  background-size: cover;
}

.text-container {
  position: absolute;
  top: 220px;
  left: 120px;
  z-index: 1;
}

.form-container {
  position: absolute;
  top: 93px;
  right: 120px;
  width: 480px;
  padding: 40px;
  z-index: 1;
  background-color: $white-color;
  border-radius: 10px;
  color: #5b6e78;

  .form-header {
    font-size: 28px;
    line-height: 40px;
    color: $main-font-color;
    margin-bottom: 10px;
  }

  .form-header-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .form-last-name,
  .form-birthday {
    display: flex;
    flex-direction: column;
  }

  .form-last-name {
    margin-bottom: 32px;
  }

  .form-birthday {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .form-input {
    font-size: 14px;
    line-height: 24px;
    padding: 10px 12px;
    border: 1px solid $dark-gray-color;
    border-radius: 4px;
    margin-top: 2px;
  }

  .form-btn {
    width: 100%;
    color: $white-color;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
    background-color: $violet-color;
    border-color: $violet-color;
    border-style: solid;
    border-radius: 50px;
    cursor: pointer;

    &:disabled,
    &[disabled] {
      color: $white-color;
      opacity: 0.5;
      cursor: auto;
    }
  }
}

.form-birthday {
  .mdc-text-field--filled {
    border: 1px solid $dark-gray-color;
    border-radius: 4px;

    &:not(.mdc-text-field--disabled) {
      background-color: transparent;
    }
  }

  .mat-mdc-icon-button.mat-mdc-button-base,
  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    width: 44px;
    height: 44px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 10px;
  }

  .mdc-text-field {
    padding: 0;
  }

  .mdc-text-field--invalid .mdc-text-field__input {
    caret-color: $main-font-color;
  }

  .mat-mdc-form-field-infix {
    min-height: unset;
  }

  .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: 14px;
    line-height: 24px;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding: 10px 12px;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  .mdc-text-field--filled .mdc-line-ripple {
    display: none;
  }
}

.form-birthday-panel {
  .mat-calendar-body-selected,
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: $violet-color;
    color: $white-color;
  }
}


.overlay::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: rgba(2, 2, 2, 0.4);
  z-index: 1;
}



