<div class="overlay"></div>

<div class="custom-container first-page">
    <div class="text-container">
        <div class="preview-text-1">
            Staying on top of your health is important
        </div>
        <div class="preview-text-2">
            It’s time to review your order.
        </div>
        <div class="preview-text-3">
            Placing your order is simple. Follow the link below to review and confirm your order details.
        </div>
    </div>
    <div
        class="form-container"
        [formGroup]="form"
    >
        <div class="form-header">
            Verification
        </div>
        <div class="form-header-description">
            Let’s verify your account
        </div>
        <div class="form-last-name">
            <label
                class="form-label"
                for="last-name"
            >
                Last name
            </label>
            <input
                id="last-name"
                class="form-input"
                placeholder="Enter your Last name"
                formControlName="lastName"
            />
        </div>
        <div class="form-birthday">
            <label class="form-label">
                Date of birth
            </label>
            <mat-form-field>
                <input
                    matInput
                    class="form-birthday-input"
                    formControlName="birthdate"
                    placeholder="MM/DD/YEAR"
                    [matDatepicker]="pickerBirthday"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerBirthday"
                ></mat-datepicker-toggle>
                <mat-datepicker
                    #pickerBirthday
                    panelClass="form-birthday-panel"
                    startView="multi-year"
                ></mat-datepicker>
            </mat-form-field>
        </div>
        <button
            class="form-btn"
            [disabled]="form.invalid"
            (click)="goToOrderPage()"
        >
            Submit
        </button>
    </div>
</div>


