<ng-container *ngIf="npsPageData$ | async as pageData">
    <div class="custom-container">
        <div class="custom-container-title">Survey</div>
        <div class="question-container">
            <div class="question-text">
                {{questionNumber$ | async}}. {{pageData.surveyPhraseQuestion}}
            </div>
            <div class="rating-container">
                <div class="rating-btns-container">
                    <button
                        *ngFor="let item of numberQuestions; let idx = index"
                        [ngClass]="{'selected': item === answer}"
                        (click)="answerSelected(item)"
                    >
                        {{item}}
                    </button>
                </div>
                <div class="rating-question">
                    <span class="rating-description">Not likely at all</span>
                    <span class="rating-description">Extremely likely</span>
                </div>
            </div>

            <div class="navigation-btn">
                <app-navigation-buttons></app-navigation-buttons>
            </div>
        </div>
    </div>
</ng-container>
