@import '../../../../styles/base-component-styles';

.rating-container {
  .rating-btns-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 10px;

    button {
      width: 52px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $very-light-violet-color;
      border-radius: 10px;
      background: $very-light-violet-color;
      cursor: pointer;

      &.selected {
        background: $violet-color;
        color: $white-color;
      }
    }
  }

  .rating-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: $another-light-gray-color;
    line-height: 20px;
  }
}

