<div class="question-btn-container">
    <button
        *ngIf="isVisiblePreviousBtn$ | async"
        class="previous-btn"
        (click)="changePage(navigation.Previous)"
    >
        {{navigation.Previous}}
    </button>
    <button
        class="next-btn"
        (click)="changePage(navigation.Next)"
    >
        {{navigation.Next}}
    </button>
</div>
