@import '../../../../styles/base-component-styles';

.question-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;

  .previous-btn,
  .next-btn {
    color: $violet-color;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    min-width: 140px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
  }

  .previous-btn {
    border: 0;
  }

  .next-btn {
    margin-left: auto;
    border: 2px solid $violet-color;
    border-radius: 50px;
  }
}
