
@import '../../../../styles/base-component-styles';

.question-container {
  .multi-choice-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    button {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 20px;
      background-color: $very-light-violet-color;
      border: 0;
      border-radius: 20px;
      outline: none;
      cursor: pointer;

      &.selected {
        background: $violet-color;
        color: $white-color;
      }
    }
  }
}
