<ng-container *ngIf="multipleChoicePageData$ | async as pageData">
    <div class="custom-container">
        <div class="custom-container-title">Survey</div>
        <div class="question-container">
            <div class="question-text">
                {{questionNumber$ | async}}. {{pageData.surveyPhraseQuestion}}
            </div>
            <div class="multi-choice-container">
                <ng-container *ngFor="let item of pageData.surveyAnswerOptions">
                    <button
                        [ngClass]="{'selected': answers.includes(item.answer)}"
                        (click)="answerSelected(item.answer)"
                    >
                        {{item.answer}}
                    </button>
                </ng-container>
            </div>
            <div class="navigation-btn">
                <app-navigation-buttons></app-navigation-buttons>
            </div>
        </div>
    </div>
</ng-container>
