@import 'variables';

.custom-container-title,
.question-container {
  width: 800px;
  margin: 0 auto;
}

.custom-container-title {
  font-size: 28px;
  line-height: 40px;
  padding: 48px 0 24px;
}

.question-container {
  min-height: 540px;
  padding: 80px 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: $white-color;

  .question-text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
  }
}

.navigation-btn {
  margin-top: auto;
}


.base-input {
  font-size: 14px;
  line-height: 24px;
  padding: 10px 12px;
  border: none;
  color: $middle-gray-color;

  &.border {
    border: 1px solid $dark-gray-color;
    border-radius: 4px;
  }

  &.border-bottom {
    border-bottom: 1px solid $main-gray-color;
  }

  &.ng-dirty.ng-invalid.ng-touched {
    border-color: $error-color;
  }
}

.base-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
  color: $middle-gray-color;
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}




