*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: $mix-content-width;
  position: relative;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $main-font-color;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-ms-clear {
  display: none !important;
}

input:focus-visible {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

a {
  color: $violet-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $violet-color;
    text-decoration: underline;
  }

  &:active,
  &:hover {
    outline: none;
  }

  &.underline {
    display: inline-block;
    color: $violet-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

