// BLOCK WIDTH (for width 100% use this way class="w100percent")
@each $w in $list-of-percent-width {
  .w#{round($w)}percent {
    width: #{$w + '%'};
  }
}

// BLOCK WIDTH (for width 100px use this way class="w100px")
@each $w in $list-of-px-width {
  .w#{$w}px {
    width: #{$w}px;
    max-width: #{$w}px;
    min-width: #{$w}px;
  }
}
