$white-color: #fff !default;
$violet-color: #6956f3 !default;
$very-light-violet-color: #e2dffc !default;
$main-gray-color: #ccc !default;
$middle-gray-color: #6b7e88 !default;
$dark-gray-color: #6478837f !default;
$very-light-gray-color: #f6f8f9 !default;
$another-light-gray-color: #d9d9d9 !default;
$main-font-color: #2e2221 !default;
$error-color: #dd2c00 !default;

$font-size-base: 14px !default;
$line-height-base: 1.71428571 !default;

$mix-content-width: 900px;

// List of width for classes like .w100percent
$list-of-percent-width: 10, 15, 20, 25, 30, 33.333, 35, 40, 45, 50, 60, 70, 75, 80, 90, 100;

// List of width for classes like .w100px
$list-of-px-width: '20', '30', '35', '40', '50', '55', '60', '70', '80', '90',
'100', '110', '120', '130', '140', '150', '160', '170', '180', '190',
'200', '210', '220', '230', '240', '250', '260', '270', '280',
'300', '310', '320', '330', '350', '360', '370', '400', '450', '470', '480', '500', '600', '1000';
