<ng-container *ngIf="generalInfo$ | async as pageData">
    <div class="main-content-container">
        <div class="header-container">
            <div class="logo">
                <img [src]="pageData.logoImg">
            </div>
        </div>
        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
        <div class="footer-container">
            <div class="company-info">
                Below you can add information about your company and brand...
            </div>
            <div
                class="contact-info"
                [innerHtml]="pageData.footer"
            >
            </div>
        </div>
    </div>
</ng-container>
