@import '../../styles/variables';

.main-content-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  height: 100vh;
  background: $very-light-gray-color;
}

.header-container {
  padding: 22px 120px;
  background-color: $white-color;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px;
  background-color: $white-color;
}

.company-info,
.contact-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  min-height: 56px;
  width: 560px;
}
