<div class="custom-container">
    <div class="custom-container-information">
        <div class="custom-container-title">Review Your Order</div>
        <div class="custom-container-list">
            <div class="flex-row list-title">
                <div class="title-item flex-1">Items</div>
                <div class="title-item w100px">Qty</div>
                <div class="title-item w100px"></div>
            </div>
            <div class="list-body" *ngIf="orderData">
                <ng-container *ngFor="let item of orderData?.items">
                    <div class="flex-row list-row">
                        <div class="items-info flex-row flex-1">
                            <div class="img-container">
                                <img [src]="'assets/images/no-image-equipment.svg'" alt=""/>
                            </div>
                            <div class="description-container">
                                <div class="category">{{item.category}}</div>
                                <div class="product-name">{{item.name}}</div>
                            </div>
                        </div>
                        <div class="qty w100px">{{item.qty}}</div>
                        <div class="w100px">
                            <app-switch-toggle
                                [(ngModel)]="item.selected"
                            ></app-switch-toggle>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="custom-container-confirm">
            <div class="confirm-information">
                Please review the items on this order. If you wish to decline any of the items you can click the toggle
                button located next to the item. When your all set click Confirm button below.
            </div>
            <div class="action-confirm">
                <button
                    class="confirm-btn"
                    (click)="$event.preventDefault(); confirm()"
                >
                    Confirm
                </button>
            </div>
            <div class="decline">
                <div class="decline-information">
                    Not ready to place your order at this time?
                </div>
                <div
                    class="decline-link"
                    (click)="$event.preventDefault(); decline()"
                >
                    Decline order
                </div>
            </div>
        </div>
    </div>
</div>

