@import '../../../../styles/base-component-styles';

.custom-container-title {
  grid-column: 2/3;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  padding: 48px 0 24px;
  color: $main-font-color;
}

.custom-container-information {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto) 1fr;
  grid-column-gap: 40px;
}

.custom-container-list {
  grid-column: 2/3;
  padding: 16px 32px;
  background-color: $white-color;
  border-radius: 8px;
  width: 800px;

  .list-title {
    color: #5b6e78;
    align-items: center;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid $another-light-gray-color;
  }

  .list-body {
    .list-row {
      border-bottom: 1px solid $another-light-gray-color;
      align-items: center;

      .qty {
        padding: 5px;
        font-size: 14px;
        line-height: 24px;
        color: $main-font-color;
      }

      &:last-of-type {
        border: 0;
      }
    }

    .items-info {
      align-items: center;
    }

    .img-container {
      padding: 16px 8px;

      img {
        width: 90px;
        border: 1px solid #9d9d9d;
        border-radius: 8px;
      }
    }

    .description-container {
      padding: 5px;

      .category {
        font-size: 12px;
        line-height: 20px;
        color: $middle-gray-color;
      }

      .product-name {
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
        color: $main-font-color;
      }
    }
  }
}

.custom-container-confirm {
  grid-column: 3/4;
  width: 360px;
  background-color: $white-color;
  border-radius: 10px;
  padding: 20px;

  .confirm-information {
    padding: 28px 40px;
    font-size: 14px;
    line-height: 24px;
    background-color: #f6f8f9;
    color: $main-font-color;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .confirm-btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: $white-color;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 0;
    border-radius: 50px;
    background-color: $violet-color;
    cursor: pointer;
  }

  .decline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;

    .decline-information {
      color: #5b6e78;
    }

    .decline-link {
      cursor: pointer;
      color: $violet-color;
      font-weight: 600;
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex-grow: 1;
}

.w100px {
  width: 100px;
}
