@import '../../../../styles/base-component-styles';

.custom-container-title,
.checkout-form {
  width: 584px;
  margin: 0 auto;
}

.custom-container-title {
  font-size: 28px;
  line-height: 40px;
  padding: 48px 0 24px;

}

.checkout-form {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: $white-color;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 20px;
}

.container-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.city-state-row {
  gap: 24px;
  justify-content: space-between;
}

.address-line {
  margin-bottom: 28px;
}

.form-btn {
  padding-top: 10px;
  justify-content: space-between;

  .previous-form-btn,
  .submit-form-btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
  }

  .previous-form-btn {
    color: $violet-color;
    background-color: $white-color;
  }

  .submit-form-btn {
    width: 140px;
    padding: 10px 40px;
    color: $white-color;
    background-color: $violet-color;
    border-radius: 50px;

    &:disabled,
    &[disabled] {
      color: $white-color;
      opacity: 0.5;
      cursor: auto;
    }
  }
}
