<div class="custom-container" [formGroup]="form">
    <div class="custom-container-title">Shipping</div>
    <div class="checkout-form">
        <div class="container-title">Contact name</div>

        <div class="contact-container flex-row">
            <div class="full-name flex-column w50percent">
                <label class="base-label" for="full-name">
                    Full name
                </label>

                <input
                    id="full-name"
                    class="base-input border"
                    formControlName="fullName"
                />
            </div>
            <div class="phone flex-column w50percent">
                <label class="base-label" for="phone">
                    phone
                </label>

                <input
                    id="phone"
                    class="base-input border"
                    placeholder="e.g (310) 597-1045"
                    formControlName="phone"
                />
            </div>
        </div>

        <div class="container-title">Shipping address</div>

        <div class="address-line flex-column">
            <label class="base-label" for="address1">
                Address line 1
            </label>

            <input
                id="address1"
                class="base-input border"
                formControlName="address1"
            />
        </div>

        <div class="address-line flex-column">
            <label class="base-label" for="address2">
                Address line 2 (optional)
            </label>

            <input
                id="address2"
                class="base-input border"
                formControlName="address2"
            />
        </div>

        <div class="address-line flex-row city-state-row">
            <div class="city flex-column w50percent">
                <label class="base-label" for="city"> City </label>

                <input
                    id="city"
                    class="base-input border"
                    formControlName="city"
                />
            </div>

            <div class="state flex-column w50percent">
                <label class="base-label" for="state">
                    State
                </label>

                <input
                    id="state"
                    class="base-input border"
                    formControlName="state"
                />
            </div>
        </div>

        <div class="address-line">
            <div class="zip-code flex-column">
                <label class="base-label" for="zip-code">
                    Zip code
                </label>

                <input
                    id="zip-code"
                    class="base-input border"
                    formControlName="zipCode"
                />
            </div>
        </div>

        <div class="form-btn flex-row">
            <button
                class="previous-form-btn"
                (click)="backToSurvey()"
            >
                Previous
            </button>
            <button
                class="submit-form-btn"
                [disabled]="form.invalid"
            >
                Submit
            </button>
        </div>
    </div>
</div>

