@import '../../../../styles/base-component-styles';

.question-container {
  .question-answer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    .answer-btn {
      width: 88px;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      padding: 8px 30px;
      border: 0;
      border-radius: 20px;
      background: $very-light-violet-color;
      cursor: pointer;

      &.selected {
        background: $violet-color;
        color: $white-color;
      }
    }
  }
}
