<ng-container *ngIf="yesNoPageData$ | async as pageData">
    <div class="custom-container">
        <div class="custom-container-title">Survey</div>
        <div class="question-container">
            <div class="question-text">
                {{questionNumber$| async}}. {{pageData.surveyPhraseQuestion}}
            </div>
            <div class="question-answer-container">
                <button
                    class="answer-btn"
                    [ngClass]="{'selected': answer === optionsAnswer.Yes}"
                    (click)="answerSelected(optionsAnswer.Yes)"
                >
                    {{optionsAnswer.Yes}}
                </button>
                <button
                    class="answer-btn"
                    [ngClass]="{'selected': answer === optionsAnswer.No}"
                    (click)="answerSelected(optionsAnswer.No)"
                >
                    {{optionsAnswer.No}}
                </button>
            </div>
            <div class="navigation-btn">
                <app-navigation-buttons></app-navigation-buttons>
            </div>
        </div>
    </div>
</ng-container>
